# Ignore node modules
node_modules/
**/node_modules/

# Ignore local environment files
*.env
.env*

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code workspace settings
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
